/*** NB UNITED CUSTOM CSS STYLESHEET

Search for the terms in the Table of content, to find the info you are lookin for. 


____________________________________________________

TABLE OF CONTENT
1.0.0 - ROOT
2.0.0 - GENERELT 
    2.1.0 - HEADERS
        2.1.1 - H1
        2.1.2 - H2
        2.1.3 - H3
        2.1.4 - H4
    2.2.0 - P
    2.3.0 - BUTTONS
    2.3.0 - A
3.0.0 - HEADER
    3.1.0 - MAIN MENU NAVIGATION
4.0.0 - FOOTER
    4.1.0 - FOOTER CONTAINER
    4.2.0 - FOOTER TEXT
    4.3.0 - FOOTER INFO
        4.3.1 - LOGO
        4.3.2 - ADRESS
        4.3.3 - SOME
        4.3.4 - GO TO TOP
5.0.0 - FRONT PAGE
    5.1.0 - H2 SPACING CHANGE
    5.2.0 - LEAFLET MAP STYLING
6.0.0 - VORES HOLD
7.0.0 - NYHEDER OG ARRANGEMENTER
8.0.0 - BLIV MEDLEM
9.0.0 - FODBOLD
10.0.0 - OM NØRREBRO UNITED

X.X.X - MEDIA Q MIN-WIDTH 500PX
  1.0.0 - LOGO
  2.0.0 - ADDRESS
  3.0.0 - SOCIALS
  4.0.0 - TO TOP
  5.0.0 - HEADER
  6.0.0 - NYHEDER OG ARRANGEMENTER

X.X.X - MEDIA Q MIN-WIDTH 767PX
  1.0.0 - FODBOLD
  2.0.0 - VORES HOLD
  3.0 0 - OM NØRREBRO UNITED

____________________________________________________

/*** ROOT ***/

* {
  --colwhite: #f2f2f2;
  --colblack: #1f1f1f;
  --colorange: #f5912e;
  --coldarkgreen: #11381a;
  --collightgreen: #4e9b45;
  --collightgreen2: #1b5a2a;

  /* NEW SIZES */
  --header0: clamp(3rem, 5vw, 5rem);
  --header1: clamp(2.5em, 5vw, 4.3rem);
  --header2: clamp(2.2rem, 5vw, 3rem);
  --header3: clamp(1.2rem, 5vw, 2.3rem);
  --header4: clamp(1rem, 5vw, 1.3rem);
  --para: 1.3rem;

  --headerfont: "forma-djr-display";
  /* --parafont: "mr-eaves-modern"; */
  --parafont: "Lato", sans-serif;
  /* LATO WITH WEIGHT: 300, 400+italic, 700+italic */

  scroll-behavior: smooth;

  box-sizing: border-box;
}

/*** GENERELT ***/

/** COLUMN SPACING **/
.home #main .wp-block-columns {
  margin-block: 5rem;
}

.home #main .wp-container-5.wp-block-columns {
  margin-block: 2rem;
}

#content {
  padding: 10px;
}

/** HEADERS **/

#main .wp-block-cover__inner-container > h3,
#main .wp-block-cover__inner-container > h2 {
  color: var(--colorange);
}

/* FRONT IMAGE COVER HEADER */
#main .wp-block-cover__inner-container > h1 {
  text-transform: uppercase;
  font: var(--header0) var(--headerfont);
  letter-spacing: 4px;
}

.home.page .wp-duotone-unset-6.wp-block-cover.alignfull {
  min-height: 650px !important;
}

/* H1 */
.entry-header h1.entry-title {
  font: 900 var(--header1) var(--headerfont);
  text-transform: uppercase;
  color: var(--coldarkgreen);
  letter-spacing: 4px;
}

#main .entry-header {
  max-width: 1500px;
  margin-bottom: 10px;
  padding-block-end: 20px;
}

/* H2 */
#main h2 {
  font: italic var(--header2) var(--headerfont);
  text-transform: uppercase;
  color: var(--coldarkgreen);
}

/* H3 */
#main h3 {
  font: var(--header3) var(--headerfont);
  color: var(--collightgreen2);
  text-transform: uppercase;
}

/* H4 */
h4 {
  font: italic bolder var(--header4) var(--headerfont) !important; /*IMPORTANT FOR OVERWRITING PARENT THEME*/
  color: var(--colwhite);
  /* font-weight: 900 !important;
  font-style: italic !important; */
  text-transform: uppercase;
  padding-block-end: 20px !important; /*IMPORTANT FOR OVERWRITING PARENT THEME*/
}

h5 {
  font-family: var(--headerfont);
}

/** P **/
#main p {
  font-family: var(--parafont);
  font-size: var(--para);
  color: var(--colblack);
  line-height: 25px;
  max-width: 60ch;
}

#main .wp-block-cover__inner-container p {
  color: var(--colwhite);
}

/** BUTTONS **/

#main button {
  background-color: var(--coldarkgreen);
  color: var(--colwhite);
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.25ms ease-in-out;
}

#main button:hover,
#main button:active,
#main button:focus {
  background-color: var(--collightgreen);
  color: var(--colblack);
  border-color: var(--collightgreen);
}

/* #main .wp-block-button__link.wp-element-button:hover */

#main .wp-block-cover__inner-container .wp-block-button__link.wp-element-button {
  border-color: var(--colorange);
  background-color: var(--colorange);
  color: var(--coldarkgreen);
  border-radius: 10px;
  text-transform: uppercase;
  font-family: var(--headerfont);
  transition: all 0.25ms ease-in-out;
}
#main .wp-block-button:not(.is-style-outline) .wp-block-button__link:hover,
#main .wp-block-button:not(.is-style-outline) .wp-block-button__link:active {
  border-color: var(--colwhite) !important; /*IMPORTANT FOR OVERWRITING PARENT THEME*/
  background-color: var(--colwhite) !important; /*IMPORTANT FOR OVERWRITING PARENT THEME*/
  color: var(--coldarkgreen) !important; /*IMPORTANT FOR OVERWRITING PARENT THEME*/
}

/* links */
a {
  color: var(--coldarkgreen);
}

a:hover {
  text-decoration: underline;
  color: var(--collightgreen);
}

a.text-link {
  color: var(--colorange);
  text-decoration: none;
  text-transform: uppercase;
}

a.text-link:hover {
  text-decoration: underline;
}

.has-background-white .site a:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
  background-color: transparent !important;
  color: var(--collightgreen) !important;
}

/*** HEADER  ***/

#site-navigation .primary-menu-container,
#site-navigation .menu-button-container,
.primary-navigation > div > .menu-wrapper > li > .sub-menu li.menu-item.menu-item-type-post_type.menu-item-object-page {
  background-color: var(--colwhite);
}

li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children > ul.sub-menu {
  border: none;
}

#primary-menu-list > li > a {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--coldarkgreen);
  text-transform: uppercase;
}
#primary-menu-list > li > a:hover {
  text-decoration: none;
}

#masthead.site-header {
  padding-block-start: 20px;
  margin-inline: 10px;
}

.primary-navigation .sub-menu .menu-item > a {
  text-decoration: none;
}
.primary-navigation .sub-menu .menu-item > a:hover {
  color: var(--colorange);
  text-decoration: none;
}

/*** FRONT PAGE ***/

/** H2 SPACING CHANGE **/

.home #main .wp-container-15 {
  margin-block-start: 20px;
}

/** LEAFLET MAP STYLING **/
.leaflet-control-attribution .leaflet-control {
  display: none;
}

img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
  width: 50px !important;
  height: 50px !important;
}

/*** FOOTER ***/

/** FOOTER CONTAINER **/

#colophon {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.site-info {
  border-top: none;
  background-color: var(--coldarkgreen);
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 60px !important;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  padding-inline: 20px;
}

.site-name {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "logo top" "adress adress" "some some";
  gap: 5px;
  max-width: 500px;
  align-items: center;
  justify-content: center;
}

/** FOOTER TEXT **/

.site-info h4,
.site-info p {
  color: var(--colwhite);
}

/** FOOTER INFO **/

/* LOGO */
.site-logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 20px;
}

/* ADRESS */
.footer__adress {
  grid-area: adress;
  text-align: center;
  margin-block: 20px 30px;
}

.footer__adress p {
  text-decoration: none;
  font-size: 1rem;
}

.footer__adress a {
  color: var(--colwhite) !important;
  text-decoration: none !important;
}

.footer__adress a:hover {
  color: var(--colorange) !important;
  text-decoration: underline !important;
}

/* SOME */
.footer__socials {
  grid-area: some;
  text-align: center;
  justify-content: center;
}

.footer__socials__icons--container {
  display: flex;
  justify-content: space-around;
  margin-block-start: 10px;
  gap: 10px;
}

.footer__socials__icons--icon {
  width: 35px;
  height: auto;
  filter: invert(66%) sepia(68%) saturate(1721%) hue-rotate(339deg) brightness(99%) contrast(94%);
}

/* GO TO TOP */

.toTop {
  grid-area: top;
  margin-inline-start: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#toTop {
  text-align: center;
  font-size: 1.5rem;
}

#toTop a {
  color: #f5912e;
  text-decoration: none;
}
#toTop a:hover {
  color: #f5912e;
  text-decoration: underline;
}

/*** LEAFLET MAP STYLING ***/

.leaflet-control-attribution .leaflet-control {
  display: none;
}

img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
  width: 50px !important;
  height: 50px !important;
}

/*** VORES HOLD ***/

.team_pic {
  max-width: 100%;
}

#teamview .team_name {
  margin-block-start: unset;
}

/*** NYHEDER OG ARRANGEMENTER ***/

#arrangementer .arrangement_content,
#nyheder .news_content,
#teamview,
#medlemmer .medlem_content {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2.2em;
  padding-top: 50px;
  justify-content: space-evenly;
  padding-inline: 10px;
}

.news_article,
.team,
.medlem_article {
  border-bottom: solid 3px var(--coldarkgreen);
  padding-bottom: 15px;
}

/*** BLIV MEDLEM ***/

.wp-block-cover.is-light {
  height: 500px;
}
#main .widget-area,
.pagination,
.comments-pagination,
.post-navigation,
.site-footer,
.site-header,
.alignwide,
.wide-max-width {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-cover__inner-container h2 {
  white-space: nowrap;
}

/*** FODBOLD ***/
.wp-block-image img {
  margin-block-start: 0;
}

.wp-container-11 > .wp-block-column > .is-layout-flex {
  justify-content: center;
}

.wp-container-11 > div:first-child {
  order: 2;
}
.wp-container-11 > div:nth-child(2) {
  order: 1;
}

.json_header {
  display: flex;
  justify-content: center;
}

#filter_buttons {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-inline: 20px;
}

/* #filter_buttons button {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--collightgreen2);
} */
.valgt {
  background-color: var(--colblack);
}

/*** VORES HOLD ***/
.wp-container-5 > div:first-child {
  order: 2;
}

.wp-container-5 > div:nth-child(2) {
  order: 1;
}

#filter_buttons.filter_buttons_vores-hold {
  grid-template-columns: repeat(3, 1fr);
}

/*** BLIV MEDLEM ***/
.page-id-110 .is-layout-flex.wp-container-3.wp-block-columns.alignwide {
  border-bottom: solid 3px;
  padding-bottom: 60px;
}

#main .wp-container-6 > div:first-child {
  margin-bottom: 50px;
}
/*** OM Nørrebro United ***/
.page-id-107 .wp-container-15 > div:first-child {
  order: 2;
}

.page-id-107 .wp-container-15 > div:nth-child(2) {
  order: 1;
}

/*** BESTYRRELSE ***/
.page-id-130 .wp-container-3 > div:first-child {
  order: 2;
}
.page-id-130 .wp-container-3 > div:nth-child(2) {
  order: 1;
}

.has-text-align-center {
  margin: auto;
}

/*** BLIV MEDLEM ***/

.wp-block-cover.is-light {
  height: 500px;
}
#main .widget-area,
.pagination,
.comments-pagination,
.post-navigation,
.site-footer,
.site-header,
.alignwide,
.wide-max-width {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-cover__inner-container h2 {
  white-space: nowrap;
}

/*** FODBOLD ***/
.wp-block-image img {
  margin-block-start: 0;
}

.wp-container-11 > .wp-block-column > .is-layout-flex {
  justify-content: center;
}

.wp-container-11 > div:first-child {
  order: 2;
}
.wp-container-11 > div:nth-child(2) {
  order: 1;
}

.json_header {
  display: flex;
  justify-content: center;
}

#filter_buttons {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-inline: 20px;
}

/* #filter_buttons button {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--collightgreen2);
} */
.valgt {
  background-color: var(--colblack);
}

/*** VORES HOLD ***/
.wp-container-5 > div:first-child {
  order: 2;
}

.wp-container-5 > div:nth-child(2) {
  order: 1;
}

#filter_buttons.filter_buttons_vores-hold {
  grid-template-columns: repeat(3, 1fr);
}

/*** BLIV MEDLEM ***/
.page-id-110 .is-layout-flex.wp-container-3.wp-block-columns.alignwide {
  border-bottom: solid 3px;
  padding-bottom: 60px;
}

#main .wp-container-6 > div:first-child {
  margin-bottom: 50px;
}
/*** OM Nørrebro United ***/
.page-id-107 .wp-container-15 > div:first-child {
  order: 2;
}

.page-id-107 .wp-container-15 > div:nth-child(2) {
  order: 1;
}

/*** BESTYRRELSE ***/
.page-id-130 .wp-container-3 > div:first-child {
  order: 2;
}
.page-id-130 .wp-container-3 > div:nth-child(2) {
  order: 1;
}

.is-layout-flow wp-block-column li {
  list-style: disclosure-closed;
  padding-block: 20px;
}
/* FORSIDE */

.is-layout-flex.wp-container-15.wp-block-columns.alignwide {
  background-color: var(--coldarkgreen);
  padding: 20px;
}
#main .is-layout-flex.wp-container-15.wp-block-columns.alignwide h3 {
  color: var(--colorange);
}
#main .is-layout-flex.wp-container-15.wp-block-columns.alignwide h3:first-of-type {
  margin-block-start: 0;
}
#main .is-layout-flex.wp-container-15.wp-block-columns.alignwide p {
  color: var(--colwhite);
}
@media screen and (min-width: 500px) {
  /*PAGE*/
  * {
    font-size: 16px;
  }

  #content {
    padding: 30px 50px;
  }

  .home #main .wp-container-5.wp-block-columns {
    margin-block: 20px;
  }

  .home #content {
    padding-inline: 0;
  }

  article.page > .entry-content > div,
  #main article.page > .entry-content > h2,
  #main article.page > .entry-content > h3,
  #main article.page > .entry-content .wpforms-container.wpforms-container-full,
  #medlemmer {
    max-width: 1500px;
  }

  #medlemmer {
    margin-left: 0;
    margin-right: 0;
  }

  .home.page .entry-content > div {
    padding-inline: 50px;
  }

  .home.page .wp-duotone-unset-6.wp-block-cover.alignfull {
    max-width: none;
    padding-inline: 0;
  }

  #post-107 .is-layout-flow.wp-block-column .alignwide,
  #post-130 .is-layout-flow.wp-block-column .alignwide,
  #post-103 .entry-content > p {
    margin-left: 0;
  }

  #post-126 .entry-content > div {
    margin-block: 50px 100px;
  }

  /*** HEADER ***/
  ul.sub-menu {
    border: solid 1px var(--coldarkgreen) !important;
  }

  #masthead.site-header {
    padding-inline: 40px;
    max-width: 100vw;
    padding-block-end: 0;
  }
  #primary-menu-list > li > a:focus,
  .primary-navigation a:hover {
    text-decoration: unset !important;
  }

  main#main.site-main {
    padding-top: 0;
  }

  /*** NYHEDER OG ARRANGEMENTER ***/

  #nyheder,
  #arrangementer {
    max-width: 1500px;
  }
  #nyheder .news_content,
  #arrangementer .arrangement_content,
  #teamview,
  #medlemmer .medlem_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    /*     justify-content: flex-start;
    padding-inline: unset; */
  }

  #nyheder .news_content .news_article,
  #arrangementer .arrangement_content .news_article,
  #teamview .team,
  .medlem_content .medlem_article {
    display: grid;
    grid-template-rows: auto;
    max-width: 400px;
    background-color: white;
    padding: 10px;
    border: unset;
    cursor: pointer;
    transition: 250ms;
  }
  #nyheder .news_content .news_article:hover,
  #arrangementer .arrangement_content .news_article:hover {
    max-width: 400px;
    background-color: white;
    padding: 10px;
    border: unset;
    filter: drop-shadow(7px 7px 3px #1f1f1f5e);
    transform: translate(-3px, -3px);
    cursor: pointer;
  }

  #main .news_article > .news_title,
  #main .team > .team_name {
    color: var(--collightgreen2);
  }

  #main .news_article > .date {
    color: var(--collightgreen2);
    font-style: italic;
    align-self: flex-end;
  }
}

@media screen and (min-width: 767px) {
  /*** OM Nørrebro United ***/
  .page-id-107 .wp-container-15 > div:first-child {
    order: 1;
  }

  .page-id-107 .wp-container-15 > div:nth-child(2) {
    order: 2;
  }

  /*** BESTYRRELSE ***/
  .page-id-130 .wp-container-3 > div:first-child {
    order: 1;
  }
  .page-id-130 .wp-container-3 > div:nth-child(2) {
    order: 2;
  }

  /*FOOTER */

  .site-info {
    padding-inline: 10px;
  }

  .site-name {
    grid-template-columns: repeat(3, 1fr) 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo adress some top";
    gap: 20px;
    padding: 10px;
    max-width: 1500px;
    align-items: flex-start;
  }

  /* LOGO */
  .site-logo {
    display: flex;
    justify-content: center;
    margin: 0 !important;
  }

  /* ADDRESS */
  .footer__adress {
    text-align: left;
    grid-column: 2;
    margin-block: 0;
  }

  /* SOCIALS */
  .footer__socials__icons--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-block: 50px;
  }

  .footer__socials {
    grid-area: some;
  }

  /* TO TOP */
  .toTop {
    justify-self: flex-end;
    text-align: right;
    margin-block-end: 0;
  }

  #toTop {
    text-align: right;
    font-size: 1.3rem;
  }
}
