/*** NB UNITED CUSTOM CSS STYLESHEET

TABLE OF CONTENT

1.0.0 - Root 

2.0.0 - GENERELT 

/* WRITE CSS HERE FOR DOCUMENT */

* {
  --colwhite: #fbfbfb;
  --colblack: #1f1f1f;
  --colorange: #f5912e;
  --coldarkgreen: #1a310f;
  --collightgreen: #4e9b45;

  font-size: 14px;
}

/*** GENERELT ***/

#page {
  background-color: var(--colwhite);
}

a {
  color: var(--coldarkgreen);
}

a:hover {
  text-decoration: underline;
  color: var(--collightgreen);
}
/*** HEADER  ***/

.primary-navigation > div > .menu-wrapper > li > .sub-menu li.menu-item.menu-item-type-post_type.menu-item-object-page,
.primary-navigation > .primary-menu-container {
  background-color: var(--colwhite);
}

/*** LEAFLET MAP STYLING ***/

.leaflet-control-attribution .leaflet-control {
  display: none;
}

.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
  width: 50px !important;
  height: 50px !important;
}

/*** FOOTER ***/

#colophon {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.site-info {
  border-top: none;
  background-color: var(--coldarkgreen);
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 60px !important;
  padding-bottom: 60px;
  justify-content: center;
}

.site-info h5,
.site-info p {
  color: var(--colwhite);
}

.site-name {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "top top top" "logo adress some";
  gap: 5px;
}

/* LOGO */
.site-logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
}

/* ADRESS */
.footer__adress {
  grid-area: adress;
  font-style: normal;
  text-align: center;
}

.footer__adress a {
  color: var(--colwhite) !important;
  text-decoration: none !important;
}

.footer__adress a:hover {
  color: var(--colorange) !important;
  text-decoration: underline !important;
}

/* SOCIALS */
.footer__socials {
  grid-area: some;
  text-align: center;
}

.footer__socials__icons--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block-start: 10px;
  gap: 10px;
}

.footer__socials__icons--icon {
  width: 35px;
  height: auto;
  filter: invert(66%) sepia(68%) saturate(1721%) hue-rotate(339deg) brightness(99%) contrast(94%);
}

/* TOP TOP */

.toTop {
  grid-area: top;
  margin-block-end: 40px;
}

#toTop {
  text-align: center;
  font-size: 1.5rem;
}

#toTop a {
  color: #f5912e;
  text-decoration: none;
}
#toTop a:hover {
  color: #f5912e;
  text-decoration: underline;
}

@media screen and (min-width: 500px) {
  * {
    font-size: 16px;
  }

  .site-info {
    padding-inline: 10px;
  }

  .site-name {
    grid-template-columns: repeat(3, 1fr) 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo adress some top";
    gap: 20px;
  }

  /* ADRESS */
  .footer__adress {
    text-align: left;
  }

  /* SOCIALS */
  .footer__socials__icons--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-block: 50px;
  }

  /* TO TOP */
  .toTop {
    text-align: right;
    margin-block-end: 0;
  }

  #toTop {
    text-align: right;
    font-size: 1.3rem;
  }
}
